<div class="question card" (click)="goToQuestion()">
  <div class="boxes">
    <div class="box">
      <span class="top">{{question.reputation}}</span>
      <span class="bottom">hodnotenie</span>
    </div>
    <div class="box">
      <span class="top">{{question.answers.length}}</span>
      <span class="bottom">odpovede</span>
    </div>
    <div class="box">
      <span class="top">{{question.views}}</span>
      <span class="bottom">zobrazení</span>
    </div>
  </div>
  <h2 class="title">{{question.title}}</h2>
  <h3 class="category">{{question.categoryName}}</h3>
  <p class="activity" *ngIf="question.lastActivity">
    <span>Posledná aktivita</span><br>{{question.lastActivity | date:'d. MMMM y, HH:mm:ss '  }}</p>
</div>

