@import "src/variables.scss";

.question-list {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
  padding-bottom: 32px;
}

.card {
  @media #{$sm} {
    padding: 32px 16px;
  }

  @media #{$md}{
    padding: 0px 24px;
  }

  @media #{$lg}{
    padding: 0 48px;
  }

  @media #{$md},#{$lg} {
    margin: 16px 24px;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: block;
    position: relative;
    border-radius: 4px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  text-transform: none;
  //margin-left: 6px;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

.example-tree .mat-nested-tree-node div[role=group] {
  padding-left: 40px;
}

.example-tree div[role=group] > .mat-tree-node {
  //padding-left: 40px;
}

