@import "src/variables";

.question-view {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 32px;
}

.divider {
  margin-top: 36px;
}

.card {
  @media #{$sm} {
    padding: 32px 16px;
  }

  @media #{$md}{
    padding: 32px 24px;
  }

  @media #{$lg}{
    padding: 32px 48px;
  }

  @media #{$md},#{$lg} {
    margin: 32px 24px;
    background: white;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    border-radius: 4px;
  }
}

.solves-question {
  background-color: rgb(144, 238, 144, 0.1);

}

.entry-divider {
  @media #{$sm} {
    margin-top: 32px;
    margin-bottom: 16px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.12);
  }

}

