<h1>Tvoja odpoveď na otázku</h1>
<section>
  <div class="editor ql-fix-height">
    <quill-editor #editor [(ngModel)]="text" placeholder="Text tvojej odpovede *"
                  [modules]="getQuillModules()"></quill-editor>
  </div>
  <div class="action">
    <mat-checkbox class="example-margin" [(ngModel)]="isAnonymous">Skryť moju identitu</mat-checkbox>
    <button mat-flat-button color="accent" class="submit-button" (click)="createNewAnswer()" [disabled]="!text">Pridať
      odpoveď
    </button>
  </div>
</section>
