@import "src/variables";

$sm: "(max-width: 699px)";
$md: "(min-width: 700px) and (max-width: 1049px)";
$lg: "(min-width: 1050px)";

.sidenav-container {
  min-height: 100% !important;
}

.mobile-navigation {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.selected-navbar-item {
  cursor: default;
  color: $color-accent !important;
}

.desktop-navigation {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  justify-content: flex-end;

  button {
    margin: 0 4px;
  }

}

.button-text {
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  padding: 0 10px;
  text-transform: uppercase;
  margin-right: 4px;
}

.toggle-sidenav-button {
  margin-right: 6px;
  margin-bottom: 2px;

  img {
    width: 22px;
  }
}

.unibask-title {
  cursor: pointer;
}


@media #{$sm}{
  .desktop-navigation {
    display: none;
  }

  mat-nav-list {
    a {
      font-weight: bold;
    }
  }
}

@media #{$md}, #{$lg} {
  .mobile-navigation {
    display: none;
  }

  mat-toolbar {
    justify-content: space-between;
  }

  .toggle-sidenav-button {
    display: none;
  }
}

.hidden-toolbar {
  display: none !important;
}
