@import "src/variables";

$sm: "(max-width: 769px)";
$md: "(min-width: 770px) and (max-width: 1000px)";
$lg: "(min-width: 1001px)";

.comments {
  .comment {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto 1fr;
    align-items: center;

    .vote-count {
      grid-row: 1;
      grid-column: 1;
      font-weight: bold;
    }

    .upvote-button {
      grid-row: 1;
      grid-column: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 28px;
      width: 28px;
      margin: 0 8px;
    }

    .author-name-and-comment-date {
      grid-row: 1;
      grid-column: 3;
      margin-top: 4px;

      .author-name {
        cursor: pointer;
        font-weight: bold;
        color: $color-primary;
      }

      .comment-date {
        color: rgba(0, 0, 0, 0.6);
      }
    }

    .divider-thin {
      grid-row: 2;
      grid-column: 1 / span 3;
      margin: 16px 0;
      height: 1px;
      background-color: rgba(0, 0, 0, 0.12);
    }
  }

  .comment:last-of-type .divider-thin {
    display: none;
  }
}

.add-comment {
  display: flex;
  align-items: center;
  margin-top: 32px;

  @media #{$sm} {
    flex-direction: column;
  }

  button {

    color: white;

    @media #{$sm} {
      margin-top: 8px;
      width: 100%;
    }

    @media #{$md},#{$lg} {
      width: 200px;
      margin-left: 32px;
    }
  }
}
