<section>
  <h1>Nová otázka</h1>
  <div class="title-category">
    <mat-form-field appearance="outline" class="title-input">
      <mat-label>Nadpis</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="outline" class="category-input">
      <mat-label>Kategórie</mat-label>
      <mat-select>
        <mat-option>Test 1</mat-option>
        <mat-option>Test 2</mat-option>
        <mat-option>Test 3</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="editor">
    <quill-editor #editor></quill-editor>
    <div class="action">
      <mat-checkbox class="example-margin">Skryť moju identitu</mat-checkbox>
      <button mat-flat-button color="accent" class="submit-button">Odoslať</button>
    </div>
  </div>
</section>
