<div class="question-view">
  <section>
    <div class="card">
      <app-question [question]="question" [allowVoting]="true"></app-question>
      <div class="divider"></div>
      <app-comment-section [entry]="question"></app-comment-section>
    </div>
  </section>

  <div class="entry-divider"></div>

  <section *ngFor="let answer of question.answers">
    <div class="card" [ngClass]="{'solves-question': answer.solvesQuestion}">
      <app-answer [answer]="answer"></app-answer>
      <div class="divider"></div>
      <app-comment-section [entry]="answer"></app-comment-section>
    </div>
    <div class="entry-divider"></div>
  </section>

  <section>
    <div class="card">
      <app-answer-to-question [question]="question"></app-answer-to-question>
    </div>
  </section>
</div>
