@import "src/variables";


.card {
  margin: 16px 0;
}

.divider {
  margin-top: 36px;
}

.solves-question {
  background-color: rgb(255, 171, 4, 0.15);
}

.entry-divider {
  @media #{$sm} {
    margin-top: 32px;
    margin-bottom: 16px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.12);
  }

}
