<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="mobile-navigation" fixedInViewport="false">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [class.selected-navbar-item]="this.router.url.startsWith('/upload')">
        {{authenticationService.user?.mail}}
      </a>
      <a mat-list-item [class.selected-navbar-item]="this.router.url.startsWith('/upload')">
        Opýtaj sa
      </a>
      <a mat-list-item [class.selected-navbar-item]="this.router.url.startsWith('/upload')">
        Otázky
      </a>
      <a mat-list-item [class.selected-navbar-item]="this.router.url.startsWith('/upload')">
        Kategórie
      </a>
      <a mat-list-item [class.selected-navbar-item]="this.router.url.startsWith('/upload')">
        Rebríček
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button class="toggle-sidenav-button" type="button" aria-label="Toggle sidenav" mat-icon-button
              (click)="drawer.toggle()">
        <img src="/assets/menu.svg" alt="Menu"/>
      </button>
      <span class="unibask-title" (click)="goToRoute('')">
        <span>UnibASK</span>
      </span>
      <div></div>
      <div class="desktop-navigation">
        <button mat-button [class.selected-navbar-item]="this.router.url.startsWith('/questions')">
          Otázky
        </button>
        <button mat-button [class.selected-navbar-item]="this.router.url.startsWith('/categories')">
          Kategórie
        </button>
        <button mat-button [class.selected-navbar-item]="this.router.url.startsWith('/ranking')">
          Rebríček
        </button>
        <button mat-button [class.selected-navbar-item]="this.router.url.startsWith('/account')">
          {{authenticationService.user?.mail}}
        </button>
        <button mat-flat-button color="accent" *ngIf="!this.router.url.startsWith('/ask')" style="color: white"
                (click)="router.navigate(['/ask'])">
          Opýtaj sa
        </button>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
