@import "src/variables";

$sm: "(max-width: 899px)";
$md: "(min-width: 900px) and (max-width: 1049px)";
$lg: "(min-width: 1050px)";

.sidenav-container {
  min-height: 100% !important;
}

.mobile-navigation {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.24);
}

.selected-navbar-item {
  cursor: default;
  color: $color-accent !important;
}

.desktop-navigation {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  display: flex;
  justify-content: flex-end;

  button {
    margin: 0 4px;
  }

}

.button-text {
  color: #FFF;
  font-size: 16px;
  cursor: pointer;
  padding: 0 10px;
  text-transform: uppercase;
  margin-right: 4px;
}

.toggle-sidenav-button {
  //margin-right: 6px;

  img {
    width: 22px;
  }
}

.unibask-title {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: auto;

  span {
    margin-left: 8px;
    font-weight: bold;
    font-size: 24px;
  }
}

.unibask-logo {
  height: 42px;
  width: 42px;
  cursor: pointer;
}


@media #{$sm}{
  .desktop-navigation {
    display: none;
  }

  .unibask-title {
    display: none;
  }

  mat-nav-list {
    a {
      font-weight: bold;
    }
  }
}

@media #{$md}, #{$lg} {
  .mobile-navigation, .mobile-notifications {
    display: none;
  }

  .unibask-logo {
    display: none;
  }

  .toggle-sidenav-button {
    display: none;
  }
}

mat-toolbar {
  justify-content: space-between;
}

.hidden-toolbar {
  display: none !important;
}

.no-notifications {
  font-weight: bold;
  padding: 16px 16px 0 16px

}

.notification-menu-item {
  display: flex;
  align-items: center;
  max-width: 300px;
  overflow: auto;
  padding-top: 6px;
  padding-bottom: 6px;

  .notification-info {
    display: flex;
    flex-direction: column;

    .notification-title {
      font-weight: bold;
      white-space: break-spaces;
      margin-bottom: 2px;
    }

    .notification-date {
      color: #000000AA;
    }
  }

  .dot {
    min-height: 10px;
    min-width: 10px;
    background-color: $color-accent;
    border-radius: 50%;
    display: inline-block;
    margin-right: 16px;
  }


}

