<div class="header">
  <img class="unibask-logo" src="../../../assets/logo-transparent.png"/>
  <div class="content">
    <h1>UnibASK</h1>
    <h2>Portál kolektívnej inteligencie</h2>
    <button color="accent" (click)="askQuestion()" class="interaction-button" mat-flat-button>Polož novú otázku</button>
  </div>
</div>
<svg class="waves" style="display: block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 30"
     preserveAspectRatio="none">
  <defs>
    <style>.cls-1 {
      fill: #9e2b2f;
    }</style>
  </defs>
  <title>Asset 8</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
      <path class="cls-1"
            d="M600,10.23A443.82,443.82,0,0,1,482.79,25.3,443.72,443.72,0,0,1,370.64,10.23a292.66,292.66,0,0,0-141.28,0A443.82,443.82,0,0,1,112.15,25.3,443.58,443.58,0,0,1,0,10.23V0H600Z"/>
    </g>
  </g>
</svg>


<div class="new-activity">
  <h1 class="section-title">Najnovšia aktivita</h1>
  <app-question-preview *ngFor="let question of recentQuestions" [question]="question"
                        class="question"></app-question-preview>
  <button color="accent" mat-flat-button class="all-questions-button interaction-button" (click)="goToAllQuestion()">
    Prejsť na všetky otázky
  </button>
</div>

<div>
  <svg class="waves" style="display: block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600 23.73"
       preserveAspectRatio="none">
    <defs>
      <style>.cls-1 {
        fill: #9e2b2f;
      }</style>
    </defs>
    <title>Asset 11</title>
    <g id="Layer_2" data-name="Layer 2">
      <g id="Layer_1-2" data-name="Layer 1">
        <path class="cls-1"
              d="M482.79,23.72A443.72,443.72,0,0,1,370.64,8.65a292.66,292.66,0,0,0-141.28,0A443.4,443.4,0,0,1,112.15,23.72,443.58,443.58,0,0,1,0,8.65V23.73H600V8.65A443.4,443.4,0,0,1,482.79,23.72Z"/>
      </g>
    </g>
  </svg>

</div>
<div class="categories" style="background-color: #9e2b2f">
  <h1 class="section-title">Najaktívnejšie kategórie</h1>
  <div class="content">
    <div class="category">
      <span class="top">AIN - Programovanie 4</span>
      <span class="bottom">10 otázok</span>
    </div>
    <div class="category">
      <span class="top">AIN - Programovanie 4</span>
      <span class="bottom">10 otázok</span>
    </div>
    <div class="category">
      <span class="top">AIN - Programovanie 4</span>
      <span class="bottom">10 otázok</span>
    </div>
    <div class="category">
      <span class="top">AIN - Programovanie 4</span>
      <span class="bottom">10 otázok</span>
    </div>
    <div class="category">
      <span class="top">AIN - Programovanie 4</span>
      <span class="bottom">10 otázok</span>
    </div>
    <div class="category">
      <span class="top">AIN - Programovanie 4</span>
      <span class="bottom">10 otázok</span>
    </div>
    <div class="category">
      <span class="top">AIN - Programovanie 4</span>
      <span class="bottom">10 otázok</span>
    </div>
    <div class="category">
      <span class="top">AIN - Programovanie 4</span>
      <span class="bottom">10 otázok</span>
    </div>
    <div class="category">
      <span class="top">AIN - Programovanie 4</span>
      <span class="bottom">10 otázok</span>
    </div>
    <div class="category">
      <span class="top">AIN - Programovanie 4</span>
      <span class="bottom">10 otázok</span>
    </div>
    <div class="category">
      <span class="top">AIN - Programovanie 4</span>
      <span class="bottom">10 otázok</span>
    </div>
    <div class="category">
      <span class="top">AIN - Programovanie 4</span>
      <span class="bottom">10 otázok</span>
    </div>
  </div>
  <button color="accent" mat-flat-button class="all-categories-button interaction-button" (click)="goToCategories()">
    Prejsť na kategórie
  </button>

</div>
