$sm: "(max-width: 699px)";
$md: "(min-width: 700px) and (max-width: 1049px)";
$lg: "(min-width: 1050px)";

section {
  h1 {
    text-align: center;
    font-size: 40px;
  }

  padding: 0 16px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  .title-category {
    display: flex;
    @media #{$sm} {
      flex-direction: column;
    }

    @media #{$md},#{$lg} {
      .title-input {
        margin-right: 12px;
      }

      .category-input {
        margin-left: 12px;
      }
    }

    mat-form-field {
      flex: 1;
    }


  }

  .editor {
    margin-top: 24px;
    height: 300px;

    @media #{$sm} {
      height: 600px;
    }

  }

  .action {
    margin-top: 24px;
    padding-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .submit-button {
      color: white;
      margin-left: 16px;
      text-transform: uppercase;
    }
  }
}


