<div class="full-page-component" *ngIf="user">
  <div class="public-info card">
    <img class="avatar" [src]="user?.avatar" alt="avatar"/>
    <div class="user-info">
      <div>
        <mat-icon *ngIf="user?.mail.endsWith('fmph.uniba.sk')">school</mat-icon>
        <span class="username">{{user?.username}}</span>
      </div>
      <div class="study-program" *ngIf="user?.studyProgram">{{user?.studyProgram.longName}}
        ({{user?.studyProgram.shortName}})
      </div>
      <div class="join-date">Členom od {{user?.creationDate | date:'d. MMMM y'}}</div>
    </div>
    <div class="reputation">
      <span class="reputation-value">{{user?.reputation}}</span>
      <span>REPUTÁCIA</span>
    </div>
  </div>
  <div class="change-info" *ngIf="user?.id == (authenticationService?.user | async)?.id">
    <div class="card change-user-info" style="flex: 1">
      <h2 class="subsection-title">Zmena údajov</h2>
      <mat-form-field appearance="outline" class="study-program-input">
        <mat-label>Študijný program</mat-label>
        <mat-select [(value)]="selectedStudyProgram">
          <mat-option value="not-set">
            Bez zmeny
          </mat-option>
          <mat-option *ngFor="let studyProgram of getStudyPrograms()" [value]="studyProgram.id">
            {{studyProgram.longName}} ({{studyProgram.shortName}})
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline" class="notifications-input">
        <mat-label>Emailové notifikácie</mat-label>
        <mat-select [(value)]="selectedMailNotifications">
          <mat-option value="enabled-new-answers">
            Vypnuté
          </mat-option>
          <mat-option value="enabled-new-answers-and-comments">
            Zapnuté
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="saveProfileDetails()">Uložiť zmeny</button>
    </div>

    <div class="card change-password" style="flex: 1">
      <h2 class="subsection-title">Zmena hesla</h2>
      <mat-form-field appearance="outline" class="old-password-input">
        <mat-label>Staré heslo</mat-label>
        <input matInput [(ngModel)]="oldPassword">
      </mat-form-field>
      <mat-form-field appearance="outline" class="new-password-input">
        <mat-label>Nové heslo</mat-label>
        <input matInput [(ngModel)]="newPassword">
      </mat-form-field>
      <button mat-flat-button color="accent" (click)="changePassword()">Zmeniť heslo</button>
    </div>

    <div class="card change-avatar" style="flex: 1">
      <h2 class="subsection-title">Zmena avataru</h2>
      <div class="change-avatar-container">
        <img class="avatar" [src]="newAvatar" alt="avatar"/>

        <div class="change-avatar-buttons">
          <button mat-stroked-button color="accent" (click)="setNewPictureSeed()">Generuj nový</button>
          <button mat-stroked-button color="accent" (click)="imageInput.click()"
                  [disabled]="uploadProgress != -1">{{uploadPictureButtonText}}</button>
          <input hidden #imageInput type="file" name="imageInput" (change)="uploadImagePick()"
                 accept="image/*"/>
        </div>
      </div>
      <button mat-flat-button color="accent" class="save-avatar-button" (click)="saveImage()">Ulož avatar</button>
    </div>
  </div>
  <div *ngIf="profileEntries.length > 0">
    <h1 class="section-title">Používateľove príspevky</h1>
    <div class="entry" *ngFor="let profileEntry of profileEntries" (click)="openEntry(profileEntry)">
      <app-entry-preview [profileEntry]="profileEntry"></app-entry-preview>
    </div>
  </div>

</div>
